/* app css stylesheet */

html {
    font-family: Calibri;
}

.app-editor-title {
    font-size: 20px;
}

button {
    border: #6699ff;
    height: 30px;
    background: #6699ff;
    color: white;
    border-radius: 3px;
}
