<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mailbox App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="emailEditor/emailEditor.css">
</head>
<body ng-controller="MyAppBaseCtrl">
  <div class="app-email-view" style="width: 420px;">
    <div class="app-editor-title">Share "Board name" with others</div>
    <email-editor style="width:420px; height: 100px;" id="ee1"></email-editor>
  </div>
  <div class="app-button-block" style="width: 420px;">
    <button ng-click="addEmails()" style="width: 100px;">Add email</button>
    <button ng-click="getEmailsCount()" style="width: 120px;">Get emails count</button>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="emailEditor/emailEditor.js"></script>
  <script src="app.js"></script>
</body>
</html>
